@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #FFC069;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.header{
  padding: 5px 3vh 5px 3vh;
  width: 100%;
  flex-shrink: 7;
  font-weight: 100;
  font-size: 1.5vw;
  background: linear-gradient( #1B1717 10%, #372e2e 100%);
}

@media screen and (min-width: 550px) {
  .header {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 550px){
  .header {
    font-size: 8px;
  }
  .contentgrid {
    flex-direction: column;
    width: 100%;
  }
}

.contentgrid {
  display: flex;
  height: 100vh;
  flex: 1 auto;
  width: 100%;
}

.sidebar {
  background-color: #1B1717;
  width: 100%;
  padding: 0 3vh 0 3vh;
  flex-shrink: 5;
  background: linear-gradient( #372e2e 10%, #1B1717 100%);
}
