.moviegrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    background-color: #d7d7d7;
    width: 100%;
    padding: 0 3vh;
}

.moviegrid-wrapper {
    margin-top: 1vh;
    width: 100%;
    height: fit-content;
    background-color: #d7d7d7;
    padding: 0 3vh 0 3vh;
}

.searchFeedback {
    color: black;
}

.movieList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    height: 100%;
    gap: 10px;
    justify-items: center;
    position: static;
}

@media (min-width: 550px) {
    .moviegrid {
        overflow-y: auto;
    }
}

/* everything for dropdown menu is from https://speckyboy.com/open-source-css-javascript-select-box-snippets/*/
  
.custom-dropdown {
position: relative;
display: inline-block;
vertical-align: middle;
margin: 8px;

}
    
.custom-dropdown select {
display:inline-block;
padding:0.35em 1.2em;
border:0.1em solid #FFFFFF;
margin:0 0.3em 0.3em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-size: 14px;
color:black;
text-align:center;
transition: all 0.2s;
background-color: #cccccc;
cursor: pointer;
}
    
.custom-dropdown::before,
.custom-dropdown::after {
content: "";
position: absolute;
pointer-events: none;
}

.custom-dropdown::before {
background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
color: rgba(0,0,0,.4);
    }

.pagination-wrapper {
    justify-content: center;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 10vw;
    background-color: #d7d7d7;
    padding-top: 4vh;
}

button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:black;
    text-align:center;
    transition: all 0.2s;
}

button:disabled {
    background-color: #cccccc;
}
